@import "styles/utils";
@import "styles/typography";

.bmiForm {
  background: var(--pure-white-color);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  padding: 24px;

  @include media(">tablet") {
    padding: 32px;
  }

  fieldset {
    min-width: initial;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: none;

    @include media(">tablet") {
      gap: 32px;
    }
  }

  legend {
    @include heading-m;

    margin-bottom: 24px;
  }

  .fieldWrapper {
    display: flex;
    gap: 24px;

    & > * {
      flex: 1;
    }
  }

  .metricFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(">tablet") {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;

      & > * {
        flex: 1;
      }
    }
  }

  .inputFieldWrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 16px;

    @include media(">tablet") {
      flex: 100%;
    }
  }

  @mixin blueBox {
    background: var(--blue-gradient-color);
    border-radius: 16px;
    padding: 32px;
    margin-top: 24px;

    @include media(">tablet") {
      border-radius: 16px 90px 90px 16px;
    }
  }

  .resultBox {
    @include blueBox;

    @include media(">tablet") {
      display: flex;
      align-items: center;

      & > * {
        flex: 1;
      }
    }

    .title {
      @include body-m;

      font-weight: 600;
      color: var(--pure-white-color);
      margin-bottom: 8px;

      @include media(">tablet") {
        margin-bottom: 0;
      }
    }

    .result {
      @include heading-l;

      display: block;
      color: var(--pure-white-color);
      margin-bottom: 24px;

      @include media(">tablet") {
        margin-bottom: 0;
        margin-top: 8px;
      }
    }

    .description {
      @include body-s;

      color: var(--pure-white-color);
    }
  }

  .welcomeBox {
    @include blueBox;

    .title {
      @include heading-m;

      color: var(--pure-white-color);
      margin-bottom: 16px;
    }

    .description {
      @include body-s;

      color: var(--pure-white-color);
    }
  }
}
