@import "styles/utils";
@import "styles/typography";

.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;

  @include media(">desktop") {
    padding: 65px 0 96px;
  }

  .container {

    @include media(">tablet") {
      display: flex;
      align-items: center;
    }

    @include media(">desktop") {
      position: relative;
      justify-content: space-between;
    }

    &::after {

      @include media(">desktop") {
        position: absolute;
        top: -52px;
        right: 27px;
        width: 86px;
        height: 200px;
        background: url("/img/pattern-curved-line-left.svg") no-repeat;
        content: "";
      }
    }
  }

  .imageWrapper {
    position: relative;
    left: 50%;
    width: 375px;
    transform: translateX(-50%);

    @include media(">tablet") {
      left: -155px;
      transform: initial;
    }

    @include media(">desktop") {
      width: initial;
      left: initial;
    }
  }

  .image {
    max-width: 375px;
    width: 100%;
    margin-bottom: 48px;

    @include media(">tablet") {
      max-width: 435px;
      width: 435px;
      margin-bottom: 0;
    }

    @include media(">desktop") {
      max-width: 564px;
      width: 564px;
    }
  }

  .content {
    @include media(">tablet") {
      max-width: 331px;
    }

    @include media(">desktop") {
      position: relative;
      max-width: 465px;
      margin-top: auto;
      margin-bottom: 40px;
    }
  }

  .title {
    @include heading(32px, 600, 110%);

    margin-bottom: 32px;

    @include media(">desktop") {
      @include heading-l;
    }
  }

  .description {
    @include body-m;
  }
}
