@import "styles/utils";

.logo {
  display: flex;

  h1 {
    display: flex;

    svg {
      width: 40px;
      height: 40px;

      @include media(">desktop") {
        width: 64px;
        height: 64px;
      }
    }
  }
}
