@import "styles/utils";

.guidelineSection {
  position: relative;
  padding: 56px 0;

  @include media(">desktop") {
    padding: 72px 0 96px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--water-gradient-color);
    opacity: 0.25;
    content: "";

    @include media(">desktop") {
      max-width: 1392px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 35px;
    }
  }

  .container {
    position: relative;
  }

  .cardBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;

    @include media(">desktop") {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
  }
}
